$white: #fff;
$black: #000;

$main: #6204F6;
$mainLight: #2C4984;

$headingLight: #333333;
$headingDark: #1A1B1B;

$textLight: #4F4F4F;
$textDark: #626666;

$input: #BEC2C3;

$gray: #E7E7E7;
$grayLight: #F5F5F5;