@font-face {
	src: url('../fonts/SF Compact Display/SF Compact Display-Thin.otf');
	font-family: ST-Compact-Display;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src: url('../fonts/SF Compact Display/SF Compact Display-Medium.otf');
	font-family: ST-Compact-Display;
	font-style: normal;
	font-weight: bold;
}